#comment-form {
  display: flex;
  align-items:stretch;
  gap: 6px;
}

#comments-container {
  margin: 0;
  padding: 0;
  line-height: 0;
}

.comment {
  margin-top: 10px;
  padding: 1px;
  color:aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.timestamp {
  padding: 10px;
  display:inline-block;
  color: rgb(127, 131, 136);
  font-size: 10px;
  margin-top: 4px;
}

#comment-input {
  height: 30px;
  width: 150px;
  padding: 0 8px;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 14px;
  font-family: monospace;
  border-style: none;
}

#submit-comment {
  height: 30px;
  padding: 0px 6px;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 14px;
  line-height: 28px;
  white-space: nowrap;
  cursor: pointer;
  font-family: monospace;
  background-color: rgb(85, 85, 85);
  color: white;
  border-style:ridge;
}

#submit-comment:hover {
  color: black;
  background-color: #ffffff;
}

#comment-input:focus {
  outline: none;
}

.after-text {
  color: rgb(194, 200, 206);
  font-weight: normal;
}