#comments-container {
  margin: 0;
  padding: 0;
  line-height: 0;
}

.comment {
  margin-bottom: 1px;
  padding: 1px;
  color:aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size:smaller;
}

.timestamp {
  padding: 10px;
  display:inline-block;
  color:aliceblue;
  font-size: 0.8em;
  margin-top: 4px;
}

#comment-input {
  margin-top: 10px;
  padding: 8px;
  border-radius: 2px;
  border: 1px solid #ccc;
  resize: none;
  height: 10px;
  width: 120px;
  line-height: 10px;
}

#submit-comment {
  border-radius: 2px;
  background-color: grey;
  border-style: groove;
  color: white;
  cursor: pointer;
}

#submit-comment:hover {
  color: black;
  background-color: #ffffff;
}
