#comment-form {
  display: flex;
  align-items:stretch;
  gap: 6px;
  padding-bottom: 14px;
}

#comments-container {
  margin: 0;
  padding: 0;
  line-height: 0;
}

.comment {
  margin-top: 6px;
  padding-bottom: 18px;
  color:rgb(221, 227, 233);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.timestamp {
  padding-left: 8px;
  display:inline-block;
  color: rgb(127, 131, 136);
  font-family: monospace, 'Courier New', Courier;
  font-size: 10px;
  margin-top: 4px;
  font-weight: normal;
}

#comment-input {
  height: 30px;
  width: 150px;
  padding: 0 8px;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 14px;
  font-family: monospace, 'Courier New', Courier;
  border-style: solid;
  border-color: #ffffff;
}

#submit-comment {
  height: 30px;
  padding: 0px 6px;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 14px;
  line-height: 28px;
  white-space: nowrap;
  cursor: pointer;
  font-family: monospace, 'Courier New', Courier;
  background-color: rgb(85, 85, 85);
  color: white;
  border-style:ridge;
  border-width: 2px;
}

#submit-comment:hover {
  color: black;
  background-color: #ffffff;
}

#comment-input:focus {
  background-color:rgb(48, 48, 48);
  color: aliceblue;
  border-style: solid;
  border-color: rgb(210, 210, 210);
  border-width: 1px;
}

#comment-input:focus {
  outline: none;
}

.after-text {
  color: rgb(194, 200, 206);
  font-weight: normal;
  font-size: 13px;
}